[user]
	email = destin.moulton@gmail.com
	name = Destin Moulton
[push]
	default = matching
[diff]
	tool = vimdiff
[credential]
	helper = /usr/lib/git-core/git-credential-libsecret
[core]
	autocrlf = input
[init]
	defaultBranch = main
[maintenance]
	repo = /home/destin/dotfiles/zsh/.zsh/znap_plugins/marlonrichert/zsh-autocomplete
	repo = /home/destin/dotfiles/zsh/.zsh/znap_plugins/sindresorhus/pure
	repo = /home/destin/dotfiles/zsh/.zsh/znap_plugins/zsh-users/zsh-autosuggestions
	repo = /home/destin/dotfiles/zsh/.zsh/znap_plugins/zsh-users/zsh-completions
	repo = /home/destin/dotfiles/zsh/.zsh/znap_plugins/zsh-users/zsh-syntax-highlighting
